Main project/.vs/SFML/v16/.suo
Main project/.vs/Projet runner/v16/.suo
Main project/.vs/Projet runner/v16/Browse.VC.db
Main project/.vs/SFML/v16/Browse.VC.db
Main project/.vs/SFML/v16/Browse.VC.opendb
